:root {
	background-color: rgb(45, 74, 85) !important;
}

body {
	background-color: rgb(45, 74, 85)
}

#console {
	font-family: courier, monospace;
	color: #fff;
	width:750px;
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
	font-size:14px;
}

a {
	color: #0bc;
	text-decoration: none;
}

#a {
	color: rgb(249, 241, 165);
}

#c {
	color: #0bc;
}

#b {
	color: #ff0096;
}

#k {
    	animation: change 1s;
}

#op{
    	color: #888888
}

@keyframes change {
    	0%  { color:  rgb(249, 241, 165); }
    	50% { color:  rgb(249, 241, 165); }
    	99% { color: rgb(249, 241, 165); }
}
